<h1>
	friends list goes here 
</h1>


<%friends.forEach(function(friend){%>
	<li><%=friend%></li>
<% }); %>

<form method="POST" action="/addfriend">
	<input type="text" name="newFriend" placeholder="name">
	<button>
		I made a new friend
	</button>
</form>