<% include partials/headers %>
<h1>
	you fell in love with: <%= thingVar %>
</h1>
<% if(thingVar==="peter"){ %>
<p>
good choice, Peter is the best	
</p>
<% } %>
<p>
	ps this is the love.ejs file
</p>
<% include partials/footers %>